body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

.container{
    position: absolute;
    height: 200px;
    width: 20px;
    margin-left: 47vw;
    margin-top: 30vh;
}
.triangle{
    height: 0px;
    width: 0px;
    border-bottom: 100px solid #969696;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/*Question */

.form{
    position: relative;
    height: 80vh;
    width: 400px;
    background-color: #454443;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}
.js-question{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
}

.answers{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100%;
    background-color: #a19f9f; 
    margin-right: 10px;
    font-size: 20px;
    color: white;
}

.answers div {
    margin-left: 50px;
}

.Submit{
    position: absolute;
    height: 10vh;
    width: 50%;
    left:0px;
    bottom: 0;
    border: none;
    background-color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}
.Submit:hover{
    background-color: #000;
    color: #fff;
}
.Reset{
    position: absolute;
    height: 10vh;
    width: 50%;
    left:200px;
    bottom: 0;
    border: 5px solid #fff;
    color: #fff;
    background-color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
}

.Reset:hover{
    background-color: #fff;
    color: #000;
    border: 5px solid #000;
}

.stats {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 200px;
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
    background-color: #cccccc;
}

s