

body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

.container{
    position: absolute;
    height: 200px;
    width: 20px;
    margin-left: 47vw;
    margin-top: 30vh;
}
.triangle{
    height: 0px;
    width: 0px;
    border-bottom: 100px solid #969696;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/*Correct Answer */

.form{
    position: relative;
    height: 80vh;
    width: 400px;
    background-color: #6857A8;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}
.js-correct{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
    color:#F7EBE5; 
    background-color: #6857A8;
}

.js-correct-response{
    position: absolute;
    display: inline-block;
    height: 200px;
    width: 100%;
    color: #F7EBE5;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    background-color:#1C5FE3;
}

.js-correct-answer{
    position: absolute;
    height: 200px;
    width: 100%;
    color: #F7EBE5;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-top: 200px;
    background-color: #1729BF;
}

.Submit{
    position: absolute;
    height: 10vh;
    width: 50%;
    left:0px;
    bottom: 0;
    border: none;
    color: white;
    background-color: #6857A8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}
.Submit:hover{
    background-color: #1C5FE3;
}
.Reset{
    position: absolute;
    height: 10vh;
    width: 50%;
    left:200px;
    bottom: 0;
    border: none;
    color: white;
    background-color: #1C5FE3;
    border: 5px solid #6857A8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
}
.Reset:hover{
    background-color: #6857A8;
    border: 5px solid #1C5FE3;
}




